#startUpPanel.hideMe

	span.fa.fa-close#closeStartUp.closeStartUp

	//----------------- Step Navigation
	#leftStepsWrap
		#leftStepsTitle Start Up Report
		.oneStepWrap(stepid="step1").successfulStepIcon.onStep
			.stepIcon.fa.fa-circle.bounce
			.stepName 1. Check Files
		.oneStepWrap(stepid="step2")
			.stepDivide
			.stepIcon.fa.fa-circle
			.stepName 2. Enroll Admin
		.oneStepWrap.inactive(stepid="step3")
			.stepDivide
			.stepIcon.fa.fa-circle
			.stepName 3. Find Chaincode
		.oneStepWrap.inactive(stepid="step4")
			.stepDivide
			.stepIcon.fa.fa-circle
			.stepName 4. Create Assets
		.oneStepWrap.inactive(stepid="step5")
			.stepDivide
			.stepIcon.fa.fa-circle
			.stepName 5. Finish

	#rightDetailsWrap

		//----------------- Step 1 Content [Check Settings + Welcome]
		#step1.stepWrap.success
			.stepHeader 
				span.fa.fa-gear
				span &nbsp;&nbsp;Check Configuration Files
			.stepDescription 
				span Welcome! 
				span Starting marbles requires a few steps. 
				span Many of steps were automatically ran when you started the application.
				span The outcome of each step can be found on the left. 
				span.greenMe Green 
				span is a step that passed, 
				span.redMe Red 
				span is a step that failed, and White is step that has yet to run. 
				br
				br
				span The first step was to check your config JSON files for easy to make mistakes. 
				span The file that was checked can be found at 
				span.backgroundMe /config/#{bag.creds_filename}
				span &nbsp;.

			.successStep Step Complete
			button.nextStep(nextstepid="step2") Next

		//----------------- Step 2 Content [Enroll Admin]
		#step2.stepWrap.hidden
			.stepHeader 
				span.fa.fa-user
				span &nbsp;&nbsp;Enrolling Admin
			.stepDescription 
				span Next up, we attemped to enroll you as your company's admin. 
				span This step contacted your Certificate Authority (CA) and fed it the 
				span.backgroundMe enrollID
				span &nbsp;and 
				span.backgroundMe enrollSecret
				span &nbsp;from your creds file. 
				br
				br
				span If successful, the application will download an enrollment certificate. 
				span The admin's certificate is used to authenticate himself for marble transactions. 

			include ./template/loading.pug

			.failureStep 
				p Sorry, we could not enroll the admin against the CA. 
				p Edit the settings below to try again.

			.startupWrap
				.settingsExpand 
					span.fa.fa-plus-square
					span &nbsp;&nbsp;JSON Settings

				.settingsContent
					.stepInputLegend
						span CA's 
						span.backgroundMe api_url
					input(type="text" placeholder="CA ex: 192.168.99.100:8888" name="caUrl" value=bag.creds.ca).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext This is the url to reach your certificate authority. It should include the protocol and port.
					br
					.stepInputLegend
						span.backgroundMe enrollId
					input(type="text" placeholder="Enroll Id" name="enrollId" value=bag.creds.admin_id).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext This is a valid enroll id for your CA
					br
					.stepInputLegend
						span.backgroundMe enrollSecret 
					input(type="text" placeholder="Enroll Secret" name="enrollSecret" value=bag.creds.admin_secret).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext This is the matching enroll id's secret

			.successStep Step Complete
			button.nextStep(nextstepid="step3") Next
			button.runStep(stepid="step2" nextstepid="step3")#enrollAdmin Try Again

		//----------------- Step 3 Content [Find Chaincode]
		#step3.stepWrap.hidden
			.stepHeader 
				span.fa.fa-file-text
				span &nbsp;&nbsp;Finding Chaincode
			.stepDescription 
				span Now we needed to locate the instanitated chaincode on your channel called 
				span.backgroundMe #{bag.creds.channel}
				span &nbsp;. 
				br
				br
				span The chaincode defines the assets (marbles) and the rules around marble transfers. 
				span It only needs to be instantiated once per channel. 

			include ./template/loading.pug
			
			.failureStep 
				p We could not find the correct chaincode
				p Edit the settings below to try again
				p OR...
				p 
					span If this is your first time using the application then&nbsp;
					a(href="https://github.com/IBM-Blockchain/marbles/blob/v3.0/docs/install_chaincode.md" target="_blank" style="color:#fff;") install/instantiate
					span &nbsp;marbles chaincode

			.startupWrap
				.settingsExpand 
					span.fa.fa-plus-square
					span &nbsp;&nbsp;JSON Settings

				.settingsContent
					.stepInputLegend
						span Orderer's 
						span.backgroundMe discovery_url
					input(type="text" placeholder="Orderer ex: 192.168.99.100:5151" name="ordererUrl" value=bag.creds.orderer).longer
					span.fa.fa-question-circle
					br
					.stepInputLegend
						span Peer's 
						span.backgroundMe discovery_url
					input(type="text" placeholder="Peer ex: 192.168.99.100:7051" name="peerUrl" value=bag.creds.peer).longer
					span.fa.fa-question-circle
					br
					.stepInputLegend
						span.backgroundMe chaincode_id 
					input(type="text" placeholder="Chaincode ID" name="chaincodeId" value=bag.creds.chaincode_id).longer
					span.fa.fa-question-circle
					br
					.stepInputLegend
						span.backgroundMe chaincode_version 
					input(type="text" placeholder="Chaincode ID" name="chaincodeVersion" value=bag.creds.chaincode_version).longer
					span.fa.fa-question-circle

			.successStep Step Complete
			button.nextStep(nextstepid="step4") Next
			button.runStep(stepid="step3" nextstepid="step4")#findCcButton Try Again

		//----------------- Step 4 Content [Register Marlbe Owners]
		#step4.stepWrap.hidden
			.stepHeader 
				span.fa.fa-group
				span &nbsp;&nbsp;Create Marble Owners
			.stepDescription 
				span Almost there! 
				span As a marbles trading company you may bring new marble owners onboard. 
				span These marble owners represent your user base. 
				br
				br
				span This step will create the marble owners and 3 marbles per owner. 

			include ./template/loading.pug

			.startupWrap
				#registerOwnersInputPanel.settingsContent
					.stepInputLegend
						span Company 
					input(type="text" value=bag.marble_company disabled="disabled").longer
					span.fa.fa-question-circle
					br
					.stepInputLegend
						span Marble Owners 
					input(type="text" placeholder="bob, bill, amy" name="marbleOwners" value=bag.creds.marble_owners).longer
					span.fa.fa-question-circle
					
			.successStep Step Complete
			button.nextStep(nextstepid="step5") Next
			button.runStep(stepid="step4" nextstepid="step5")#registerOwners Create

		//----------------- Step 5 Content [Finished]
		#step5.stepWrap.hidden.success
			span.fa.fa-smile-o.fa-3x
			.stepHeader Done
			.stepDescription(style="text-align:center")
				span Your marbles application is ready to use!
				br
				br
			
			button(type="button").closeStartUp Enter