#logo MARBLES P2

#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	.nav#homeLink HOME
	.nav#createLink CREATE
	.nav#tradeLink TRADE
	
#whoAmI
	span.fa.fa-user#userIcon
	span#userField HI #{bag.setup.USER1.toUpperCase()} 
	span &nbsp;
	span.fa.fa-angle-down
	
	#userSelect
		.userLine(name="#{bag.setup.USER1}")
			span #{bag.setup.USER1.toUpperCase()} &nbsp;&nbsp;
		.userLine(name="#{bag.setup.USER2}")
			span #{bag.setup.USER2.toUpperCase()}&nbsp;&nbsp;